@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html { width: 100%; height:100%; overflow:hidden; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Comic-Sans';
	background: #555588;
	color: #fff;
	font-size: 24px;
	text-align:center;
	letter-spacing:1.4px;

}
.login { 
	top: 15%;
	left: 47%;
	margin: auto;
	width:1000px;
	height:400px;    
}
.container{/*flex is for allowing the elements in the container to be displayed horizontally*/
	display:flex;
    padding:30px;
}
.categorical-values{
    text-align:left;
    font-family: "Brush Script MT";
}
.continuous-values{
    position: relative; 
    left:-1%; width: 20%;
    margin:auto; 
    padding: 10px;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

button {
    width: 200px;
    height: 75px;
    border-radius: 40px;
    font-size: 75%;
    font-family: 'Georgia';
}